* {
  margin: 0;
}

h1 {
  margin-left: 20px;
}
.navbar {
  width: 100%;
  height: 80px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.User-Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-right: 20px;
}
.profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.opcions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
